# Common
.env
.env.local
.DS_Store

# TypeScript
node_modules/
typescript/dist/
typescript/*.tsbuildinfo

# Python
python/.venv/
python/__pycache__/
python/**/__pycache__/
python/*.egg-info/
python/src/**/__pycache__/
python/src/*.egg-info/
python/.pytest_cache/
python/build/
python/dist/

# IDE
.vscode/
.idea/
*.swp
